@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&display=swap");

:root {
  --margin: 0 10px;
  --padding: 0 10px;
  --border-radius: 4px;
  --main-font: "Amiko", sans-serif;
  --gradient: radial-gradient(circle at bottom center, #b03045, #25095d 80%);
  --white-10: #ffffff26;

  --dark-purple: #25095d;
}

.App {
  width: 450px;
  height: 550px;
  text-align: left;
  font-size: 14px;
  border-radius: var(--border-radius);
  border: 2px solid lightblue;
  font-family: var(--main-font);
  background: var(--gradient);
  color: white;
}

button {
  background: white;
  border: none;
  text-align: center;
  cursor: pointer;
  border-radius: var(--border-radius);
  font-family: var(--main-font);
  color: var(--dark-purple);
}

input {
  border: none;
  background: none;
  font-family: var(--main-font);
  width: 230px;
  color: white;
}

input:focus {
  outline: none;
}

input[type="checkbox"] {
  /* display: none; */
  margin: 0;
  width: 15px;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  margin: 0;
  font-size: 20px;
}

p {
  margin: 0;
}

#header {
  background: var(--white-10);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 25px;
  padding: var(--padding);
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px 4px 0 0;
}

#header button {
  margin: 0 3px;
}

#top {
  height: 60px;
}

#body {
  padding: var(--padding);
  height: 85%;
  overflow-y: auto;
}

#container {
  display: flex;
}

section.toodoo {
  background: var(--white-10);
  padding: 10px;
  border-radius: var(--border-radius);
}

section.toodoo ul {
  margin: 10px 0;
  padding: 0;
}

section.toodoo li {
  display: flex;
  margin: 10px 5px;
}

section.toodoo li input {
  margin-right: 8px;
}

section.toodoo li .delete-btn {
  opacity: 0;
}

section.toodoo li:hover > .delete-btn {
  opacity: 1;
}

section.toodoo li:hover > input {
  box-shadow: 0 2px 0px -1px white;
}

section.toodoo li#new-item {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

section.toodoo input#add-item {
  box-shadow: 0 2px 0px -1px white;
}

#middle {
  height: 30px;
}

#right {
  width: 85px;
}

#footer {
  padding: var(--padding);
  padding-top: 30px;
}

#tags {
  gap: 5px;
  display: flex;
}
