@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&display=swap");

:root {
  --margin: 0 10px;
  --padding: 0 10px;
  --border-radius: 4px;
  --main-font: "Amiko", sans-serif;
}

[data-color-theme="space"] {
  --main-bg: #ffffff26;
  --main-color: #25095d;
  --secondary-color: #b03045;
  --main-text-color: white;
  --gradient: radial-gradient(
    circle at bottom center,
    var(--secondary-color),
    var(--main-color) 80%
  );
}

[data-color-theme="spring"] {
  --main-bg: #18282f59;
  --main-color: #8bcdd3;
  --secondary-color: #ffc7a5;
  --main-text-color: #111c21;
  --gradient: radial-gradient(
    circle at bottom center,
    var(--secondary-color),
    var(--main-color) 80%
  );
}

[data-color-theme="greenery"] {
  --main-bg: #ffffff26;
  --main-color: #0e5932;
  --secondary-color: #c1aa4d;
  --main-text-color: white;
  --gradient: radial-gradient(
    circle at bottom center,
    var(--secondary-color),
    var(--main-color) 95%
  );
}

.App {
  width: 450px;
  height: 550px;
  text-align: left;
  font-size: 12px;
  border-radius: var(--border-radius);
  font-family: var(--main-font);
  background: var(--gradient);
  color: var(--main-text-color);
}

button {
  background: var(--main-text-color);
  border: none;
  text-align: center;
  cursor: pointer;
  border-radius: var(--border-radius);
  font-family: var(--main-font);
  color: var(--main-color);
  transition: all 200ms ease-in;
}

button:hover {
  background: var(--main-color);
  color: var(--main-text-color);
  transition: all 200ms ease-out;
}

input {
  border: none;
  background: none;
  font-family: var(--main-font);
  width: 230px;
  font-size: 14px;
  color: var(--main-text-color);
}

input:focus {
  outline: none;
}

input::placeholder {
  color: var(--main-text-color);
  opacity: 50%;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  margin: 0;
  font-size: 20px;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

#header {
  background: var(--main-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 25px;
  padding: var(--padding);
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px 4px 0 0;
}

#header button {
  margin: 0 3px;
}

#header .header-btns {
  display: flex;
  transition: all 200ms ease-out;
}

#header div.all-themes {
  display: none;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  padding-top: 5px;
  transition: all 200ms ease-in;
}

#header div.all-themes button:hover {
  background: var(--secondary-color);
}

#header .themes:hover > .all-themes {
  display: flex;
}

#top {
  height: 60px;
}

#body {
  padding: var(--padding);
  height: 85%;
  overflow-y: auto;
}

#container {
  display: flex;
}

section.toodoo {
  background: var(--main-bg);
  padding: 10px 0;
  border-radius: var(--border-radius);
}

section.toodoo ul {
  margin: 10px 0;
  padding: 0;
}

section.toodoo li {
  display: flex;
  align-items: center;
  padding: 5px 15px;
}

section.toodoo li input {
  margin: 0 8px;
}

section.toodoo li.list-entry button {
  opacity: 0;
}

section.toodoo li.list-entry button svg {
  margin-top: 2px;
}

section.toodoo li.list-entry:hover > button {
  opacity: 1;
}

section.toodoo li > input {
  box-shadow: 0 2px 0px -1px transparent;
  transition: all 200ms ease-in;
}

section.toodoo li:hover > input {
  box-shadow: 0 2px 0px -1px var(--main-text-color);
  transition: all 200ms ease-out;
}

section.toodoo li#new-item {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

section.toodoo li#new-item div {
  width: 15px;
}

section.toodoo input#add-input {
  box-shadow: 0 2px 0px -1px var(--main-text-color);
}

section.toodoo li#new-item button#add-btn {
  margin-left: 20px;
}

section.toodoo .icon-btn {
  display: flex;
  align-items: center;
  fill: var(--main-color);
  width: 18px;
  height: 18px;
  padding: 4px;
}

section.toodoo .icon-btn:hover {
  fill: var(--main-text-color);
}

section.toodoo button.dnd-btn {
  background: none;
  fill: var(--main-text-color);
  height: 20px;
  width: 20px;
  margin-right: 2px;
  cursor: grab;
}

section.toodoo button.dnd-btn:hover {
  fill: var(--main-color);
}

section.toodoo button.delete-btn {
  height: 15px;
  width: 15px;
  border-radius: 10px;
}

#middle {
  height: 30px;
}

#right {
  width: 85px;
}

#footer {
  padding: var(--padding);
  padding-top: 30px;
}

#tags {
  gap: 5px;
  display: flex;
}

input#tag-input {
  width: 60px;
  box-shadow: 0 2px 0px -1px transparent;
  transition: all 200ms ease-in;
}

input#tag-input:hover {
  box-shadow: 0 2px 0px -1px var(--main-text-color);
  transition: all 200ms ease-out;
}

/* --- Custom Checkbox --- */
.entry-checkbox {
  display: block;
  position: relative;
  padding-left: 15px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.entry-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.entry-custom-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 12px;
  width: 12px;
  outline: 2px solid var(--main-text-color);
  border-radius: var(--border-radius);
  transition: all 200ms ease;
}

.entry-checkbox input:checked ~ .entry-custom-checkbox {
  outline: 2px solid var(--main-color);
  background-color: var(--main-color);
  transition: all 200ms ease;
}

.entry-custom-checkbox:after {
  content: "";
  position: absolute;
  display: none;
  transition: all 200ms ease;
}

.entry-checkbox:hover input:checked ~ .entry-custom-checkbox:after {
  display: none;
  transition: all 200ms ease;
}

.entry-checkbox:hover input ~ .entry-custom-checkbox {
  outline: 2px solid var(--main-color);
  background-color: var(--main-color);
  transition: all 200ms ease;
}

.entry-checkbox:hover input ~ .entry-custom-checkbox:after {
  transition: all 200ms ease;
  display: block;
}

.entry-checkbox input:checked ~ .entry-custom-checkbox:after {
  display: block;
  transition: all 200ms ease;
}

.entry-checkbox .entry-custom-checkbox:after {
  left: 3.4px;
  top: 0px;
  width: 3px;
  height: 8px;
  border: solid var(--main-text-color);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  transition: all 200ms ease;
}
