@charset "utf-8";

:root {
  --margin: 0 10px;
  --padding: 0 10px;
}

.App {
  width: 450px;
  height: 550px;
  text-align: left;
  font-size: 14px;
  border: 2px solid lightblue;
}

button {
  background: white;
  border: none;
  text-align: center;
  cursor: pointer;
}

input {
  border: none;
  background: none;
  width: 230px;
}

input:focus {
  outline: none;
}

input[type="checkbox"] {
  width: 15px;
  /* display: none; */
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  margin: 0;
  font-size: 20px;
}

p {
  margin: 0;
}

#header {
  background: lightgrey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 25px;
  padding: var(--padding);
  font-size: 14px;
  font-weight: bold;
}

#header button {
  font-weight: bold;
  margin: 0 3px;
}

#top {
  height: 60px;
}

#body {
  padding: var(--padding);
  height: 85%;
  overflow-y: auto;
}

#container {
  display: flex;
}

section.toodoo {
  background: lightgray;
  padding: 10px;
}

section.toodoo ul {
  margin: 10px 0;
  padding: 0;
}

section.toodoo li {
  display: flex;
  margin: 10px 5px;
}

section.toodoo li input {
  margin-right: 8px;
}

section.toodoo li .delete-btn {
  opacity: 0;
}

section.toodoo li:hover > .delete-btn {
  opacity: 1;
}

section.toodoo li#new-item {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

section.toodoo input#add-item {
  border-bottom: 1.5px solid white;
}

#middle {
  height: 50px;
}

#right {
  width: 85px;
}

#footer {
  padding: var(--padding);
  padding-top: 30px;
}

#footer button {
  background: lightgrey;
}

#tags {
  gap: 5px;
  display: flex;
}
